#controls > .options {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 0px;
  transition: height 1s ease-in-out;
  background-color: #cff3fe;
  margin-top: 15px;
  z-index: 3000;
}

#controls > .options.open {
  height: 120px;
}

#controls > .options > span {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  text-align: center;
}


.selecticon {
  background-image: url("/images/icons/arrow-down-left.svg");
  transition: transform 1s ease-in-out;
}

.selecticon.active {
  transform: rotate(90deg);
}

#goals {
  margin: 5%;
}

#controls {
  background-color: rgba(163, 231, 252, 0.45);
}