
body {
  background-color: #F3FCFF;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
  background: rgba(163, 231, 252, 0.45);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
  color: #70EE9C;
  z-index: 10;
}

header h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

nav {
  background: #D0F3FE;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  transition: transform 0.7s, opacity 1s;
  transform: translateX(-100%);
  opacity: 0;
  color: #70EE9C;
  z-index: 1;
}

header a {
  float: right;
}

header img {
  width: 44px;
  height: 44px;
  border-radius: 64px;
}

nav.show {
  transform: translateX(0%);
  opacity: 1;
}

nav > ul {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  align-items: center;
  height: inherit;
  list-style: none;
  padding-left: 0;
}

nav > ul > li {
  margin: 1.5rem auto;
  font-size: 1.25rem;
}

#hamburger {
  position: relative;
  margin-right: auto;
  width: 45px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
}

#hamburger span {
  position: relative;
  display: block;
  margin-bottom: 10px;
  background: #70EE9C;
  height: 5px;
  transition: transform 0.5s, opacity 0.5s ease-in-out;
}

#hamburger.active > span:nth-child(1){
  transform: translateY(15px) rotate(-45deg);
}

#hamburger.active > span:nth-child(2){
  opacity: 0;
}

#hamburger.active > span:nth-child(3){
  transform: translateY(-15px) rotate(45deg);
}