body {
    background-color: #F3FCFF;
}

.body {
    position: relative;
    margin: 10%;
    margin-top: 20%;
}


.G {
    text-align: center;
    font-size: 96px;
    color: #70EE9C;
    font-family: Arial, Helvetica, sans-serif
}

#LoginForm {
    text-align: center;
}

#login {
    height: 35vh;
}

#user , #password {
    width: 92%;
    border-radius: 10px;
    background: rgba(118, 118, 128, 0.12);
    height: 43px;
    border-width: 0px;
    padding-left: 20px;
}

#password {
    margin-top: 30px;
}

#LoginBtn {
    float: right;
    background: #0877E6;
    border-radius: 14px;
    width: 164px;
    height: 43px;
    border-width: 0px;
    color:white;
    margin-top: 20px;
}

.CreateOrRegister {
    position: relative;
    float: right;
    margin-top: 5%;
}

#ForgotPassword {
    position: relative;
    top: 40px;
}

#ErrorReturn {
    color: red;
}

