body {
    background-color: #F3FCFF;
}

.container {
    position: relative;
    margin: 10%;
    margin-top: 20%;
}


.G {
    text-align: center;
    font-size: 96px;
    color: #70EE9C;
    font-family: Arial, Helvetica, sans-serif
}


#login {
    height: 35vh;
    text-align: center;
}

#login > input {
    width: 92%;
    border-radius: 10px;
    background: rgba(118, 118, 128, 0.12);
    height: 43px;
    border-width: 0px;
    padding-left: 20px;
    margin-top: 30px;
}

input#loginBtn {
    float: right;
    background: #0877E6;
    border-radius: 14px;
    width: 164px;
    height: 43px;
    border-width: 0px;
    color:white;
    margin-top: 20px;
}

.createOrRegister {
    position: relative;
    float: right;
    margin-top: 5%;
}

#forgotPassword {
    position: relative;
    top: 40px;
}

#errorReturn {
    color: red;
}

