.bodyOff {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(82, 82, 82, 0.4);
  z-index: 1000;
  display: block;
}


header {
  background: rgba(163, 231, 252, 0.45);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
  color: #70EE9C;
}

#bodycover {
  transition: background-color 0.5s ease-in-out;
}

#editBar {
  display: inline-block;
  width: 100%;
  padding: 10px 20px 0px 20px;
  z-index: 1000002;
}

.editEpics{
  float: left;
  z-index: 1000002;
}

.addGoals{ 
  float: right;
  z-index: 10000002;
}

main {
  margin: 5%;
  position: relative;
  height: 80vh;
}



#header > h1 {
  color: #FF5A5F;
  margin:15%;
  margin-top: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#goals > span {
  margin-left: 20px;
}

#epicBox {
  position: relative;
  background: rgba(164, 164, 252, 0.3);
  border: 1px solid #A4A4FC;
  box-sizing: border-box;
  border-radius: 14px;
  height: 8vh;
  padding-top: 2vh;
  margin-top: 7%;
  padding-left: 5%;
  z-index: 0;
}

.progressBar {
  position: absolute;
  background-color: rgba(164, 164, 252, 0.3);
  border-radius: 14px;
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  padding-left: 0px;
  left:0;
  top:0;

}

#addGoal {
  position: fixed;
  height: 40vh;
  background-color: #F3FCFF;
  width: 100%;
  left: 0%;
  bottom:0;
  right: 0;
  border-radius: 25px 25px 0px 0px;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  z-index: 1001;
}

.addGoalContent {
  border: 1px solid black

}

.addGoal > label {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  padding-top:20px;
}
.colorBox {
  background-color: grey;
  margin: 20px;
  padding-left: 20px;
}

.colorBox > input {
  margin:10px;
  border-radius: 50%;
  height:20px;
  width: 20px;
}

.sample {
  width: 30px;
  height: 30px;
  margin: 3px;
  position: relative;
  border: 1px solid #DDD;
  float: left;
  transition: all 0.2s;
  background-color: lightpink;
}

#addGoalForm {
  text-align: center;
  margin-top: 5%;
}

#addGoalForm > label {
  width: 20%;
}

#goalType > select, #completeBefore > input, #goalName {
  text-align: center;
  left: 40%;
  display: inline-block;
  width: 80%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 5%;
  font-family: 'Changa One', cursive;
  padding: 0;
  background: #F3FCFF;
  border-radius: 10px;
  background: rgba(118, 118, 128, 0.12);
  height: 43px;
  border-width: 0px;
  padding-left: 20px;
  margin-top: 15px;
}

.showAttributes {
  height: 200px;
}

#goalType, #completeBefore {
  width: 50%;
  margin-right: 0;
  float: left;
}


#savebtn{
  float: right;
  background: #0877E6;
  border-radius: 14px;
  width: 164px;
  height: 43px;
  border-width: 0px;
  color:white;
  margin-top: 20px;
  margin-right: 5%;
}