#editBar {
  display: inline-block;
  width: 100%;
  padding: 10px 20px 0px 20px;
}

.editEpics{
  float: left;
}

.addGoals{ 
  float: right;
}

main {
  margin: 5%;
  position: relative;
  height: 80vh;
}

#header > h1 {
  color: #FF5A5F;
  margin:15%;
  margin-top: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#goals > span {
  margin-left: 20px;
}

#epicBox {
  position: relative;
  background: rgba(164, 164, 252, 0.3);
  border: 1px solid #A4A4FC;
  box-sizing: border-box;
  border-radius: 14px;
  height: 8vh;
  padding-top: 2vh;
  margin-top: 7%;
  padding-left: 5%;
  z-index: 0;
}

.progressBar {
  position: absolute;
  background-color: rgba(164, 164, 252, 0.3);
  border-radius: 14px;
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  padding-left: 0px;
  left:0;
  top:0;

}

.attributeBox {
  position: fixed;
  height: 40vh;
  z-index: 10;
  background-color: lightgrey;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
}

.attributeBox > label {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  padding-top:20px;
}
.colorBox {
  background-color: grey;
  margin: 20px;
  padding-left: 20px;
}

.colorBox > input {
  margin:10px;
  border-radius: 50%;
  height:20px;
  width: 20px;
}

.sample {
  width: 30px;
  height: 30px;
  margin: 3px;
  position: relative;
  border: 1px solid #DDD;
  float: left;
  transition: all 0.2s;
  background-color: lightpink;
}

#addGoalForm {
  text-align: center;
  margin-top: 10%;
}

#addGoalForm > label {
  width: 20%;
}

#addGoalForm > select, input {
  text-align: center;
  left: 40%;
  display: inline-block;
  width: 80%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%;
  font-family: 'Changa One', cursive;
  margin: 0;
  padding: 0;
  background: #F3FCFF;
}
