.G {
    text-align: center;
    font-size: 96px;
    color: #70EE9C;
    font-family: 'Futura';
    user-select: none;
    margin-top:0;
    margin-bottom:0;
}
#title_text{
    margin:8px;
    font-size:15px;
}
#text{
    margin:10px;
    font-size:10px;
}